body{
	font-family: 'Roboto', sans serif
}







*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #042331;
	transition: .4s;
}
.sidebar header{
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #063146;
	user-select: none;
}
.sidebar ul a {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid gray;
	border-bottom: 1px solid black;
	transition: .2s;
	
}
ul li:hover a{
	padding-left: 50px;
}
.sidebar ul a i{
	margin-right: 16px;
}
#check{
	display: none;
}
label #bnt,label #cancel{
	position: absolute;
	cursor: pointer;
	background: #042331;
	border-radius: 4px;
}
label #bnt{
	left: 40px;
	top: 25px;
	font-size: 30px;
	padding: 6px 12px;
	color: white;
	transition: all .5s;

}
label #cancel{
	z-index: 1111;
	padding: 4px 8px;
	color: #0a5275;
	top: 17px;
	left: -195px;
	font-size: 30px;
	transition:all .5s ease;
}
#check:checked ~ .sidebar{
	left: 0;
}
#check:checked ~ label #bnt{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{
	left: 195px;


}
section{
	background: url(photo2.jpg) no-repeat;
	/*background-image: linear-gradient(90deg, #000004, #140e36, #3b0f70, #641a80, #8c2981, #b5367a, #de4968, #f66e5c, #fe9f6d, #fecf92, #fecf92);*/
	background-position: center;
	background-size: cover;
	height: 100vh;
}
#check:checked ~ section{
	margin-left: 250px;
	transition: all .4s ease;
}
section img{
	width: 1360px;
	height: 100%;
}